.product-card {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s;
  color:black;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  margin: 10px 0;
  font-size: 18px;
  
}

.product-price {
  color: #444;
  font-weight: bold;
}

.stock-status {
  margin-top: 8px;
  font-weight: bold;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}
