@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f7fa;
  color: #1f2937;
}

/* Navbar */
nav {
  background-color: #ffffff;
  padding: 18px;
  display: flex;
  justify-content: center;
  gap: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  left:0;
}

nav a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: 0.3s ease;
}

nav a:hover {
  color: #2563eb;
  transform: scale(1.05);
}

/* Page Container */
.page-container {
  padding: 40px;
}

html {
  scrollbar-gutter: stable;
}

